[Desktop Entry]
Name=Arch Linux Upgrade
Type=Application
Terminal=true
Exec=/usr/bin/arch-upgrade -g
Icon=arch-upgrade
Comment=Wrapper script to run Arch system upgrade
Categories=System
